<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{200,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{0,140},{200,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cakes.png</string>
            <key>size</key>
            <string>{200,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4508810866d638dc1a0dff98ba289f9e:e15cd9dda7525d2e2fa23015baf98914:24d6251b50355cc054e10650ca4fadb3$</string>
            <key>textureFileName</key>
            <string>cakes.png</string>
        </dict>
    </dict>
</plist>
