<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{50,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,575}</string>
                <key>spriteSourceSize</key>
                <string>{357,575}</string>
                <key>textureRect</key>
                <string>{{339,176},{357,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,91}</string>
                <key>spriteSourceSize</key>
                <string>{325,91}</string>
                <key>textureRect</key>
                <string>{{509,0},{325,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,222}</string>
                <key>spriteSourceSize</key>
                <string>{339,222}</string>
                <key>textureRect</key>
                <string>{{0,176},{339,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,137}</string>
                <key>spriteSourceSize</key>
                <string>{700,137}</string>
                <key>textureRect</key>
                <string>{{0,751},{700,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>perfect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,52}</string>
                <key>spriteSourceSize</key>
                <string>{179,52}</string>
                <key>textureRect</key>
                <string>{{130,0},{179,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,176}</string>
                <key>textureRect</key>
                <string>{{309,0},{200,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{834,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75f46ab3f38384980450b92f0d137da0:e142fa906a9a00a93b71ae9bfb53293f:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
